#!/usr/bin/make -f

#export DH_VERBOSE=1

%:
	dh $@

binary-arch: build install
	dh $@
	dh_installinit --name=openapp-tuning-start --upstart-only --noscripts
	dh_installinit --name=openapp-tuning-stop --upstart-only --noscripts
